<!DOCTYPE html>
<html>
  <head>
    <title>BlackJack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/new_player" id='new-game-button'>Start New Game</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% if @error %>
        <p><div class="alert alert-error"><%= @error %></div></p>
      <% end %>


      <%= yield %>

    </div>

  </body>
</html>
