form.decision-buttons {
  float: left;
  margin-right: 10px;
}

img.card {
  margin: 0px 10px 10px 0px;
}

#new-game-button {
  padding: 10px 15px 10px 0px;
}

.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

#game-over-msg {
  text-align: center;
}

#player-form {
  margin-left: 38%;
  width: 50%;
}

#bet-form {
  margin-top: 15%;
  margin-left: 38%;
  width: 50%;
}

.dim {
  color: gray;
}
